body {
    margin: 20px;
    font-family: Consolas, "Courier New", monospace;
    background-color: #ddd;
    color: #333;
    font-size:17px;
    }

h3 {
    margin-bottom: 5px;
}
.content {
    max-width: 500px;
    margin: 0 auto;
}

aside {
    margin-top: 40px;
    margin-bottom:120px;
    font-size: 16px;
}
footer {
    position: fixed;
    bottom: 0px;
    padding-top: 5px;
    height: 100px;
    text-align: center;
    line-height: 36px;
    width: 500px;
    background: #ddd;
    background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(203,203,203,1) 50%, rgba(221,221,221,1) 100%);
    border-top: 1px dotted  #333;
}

footer svg {
    font-size: 30px;
}