<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
	<channel>
		<title>{{context.user}} - {{ context.title }}</title>
        <lastBuildDate>{{ ''|rfc822_date() }}</lastBuildDate>
        <language>en</language>
		<link>https://www.last.fm/user/{{context.user}}/library/artists?data_preset={{ context.date_preset }}&sort=scrobbles_desc</link>
        <description>
            Last.fm {{context.user}} - {{context.title}} .
        </description>
        <generator> https://github.com/xiffy/lfm </generator>

		{% for artist in context.artists.artist %}
            <item>
                <title>{{artist.name}}</title>
                <pubDate>{{""|rfc822_date()}}</pubDate>
                <link>{{ artist.url}}</link>
                <guid isPermaLink='false'>{{artist.url}}</guid>
                <description><![CDATA[playcount: {{ artist.playcount }}]]></description>
                {% if not "2a96cbd8b46e442fc41c2b86b821562f.png" in artist.image[0]["#text"] %}
                    <enclosure url="{{ artist.image|image_url() }}" type="image/png"/>
                {% endif %}

            </item>
		{% endfor %}
    </channel>
</rss>
