<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:lfm="https://www.last.fm/api">
	<channel>
		<title>{{context.user}} - {{ context.title }}</title>
        <lastBuildDate>{{ ''|rfc822_date() }}</lastBuildDate>
        <language>en</language>
		<link>https://www.last.fm/user/{{context.user}}/library/tracks?date_preset={{ context.date_preset }}&amp;sort=scrobbles_desc</link>
        <description>
            Last.fm {{context.user}} {{context.title}}.
        </description>
        <generator> https://github.com/xiffy/lfm </generator>
        <lfm:total>{{context.tracks["@attr"]["total"]}}</lfm:total>
        <lfm:user>{{context.tracks["@attr"]["user"]}}</lfm:user>

		{% for track in context.tracks.track %}
            <item>
                <title>{{track.artist.name}} - {{track.name}}</title>
                <pubDate>{{""|rfc822_date()}}</pubDate>
                <link>{{ track.url }}</link>
                <guid isPermaLink='false'>{{track.url}}</guid>
                <description><![CDATA[<a href="{{ track.artist.url }}"> {{ track.artist.name }}</a>
                    playcount: {{ track.playcount }}]]></description>
                {% if not "2a96cbd8b46e442fc41c2b86b821562f.png" in track.image[0]["#text"] %}
                    <enclosure url="{{ track.image|image_url() }}" type="image/png"/>
                {% endif %}
                <lfm:artist>{{track.artist.name}}</lfm:artist>
                <lfm:artist_url>{{track.artist.url}}</lfm:artist_url>
                <lfm:artist_mbid>{{track.artist.mbid}}</lfm:artist_mbid>
                <lfm:track>{{track.name}}</lfm:track>
                <lfm:track_url>{{track.url}}</lfm:track_url>
                <lfm:mbid>{{track.mbid}}</lfm:mbid>
                <lfm:duration>{{track.duration}}</lfm:duration>
                <lfm:playcount>{{track.playcount}}</lfm:playcount>
                <lfm:rank>{{track["@attr"]["rank"]}}</lfm:rank>
                <lfm:library_track>https://www.last.fm/user/{{context.user|urlencode}}/library/music/{{track.artist.name|urlencode}}/_/{{track.name|urlencode}}</lfm:library_track>
                <lfm:library_artist>https://www.last.fm/user/{{context.user|urlencode}}/library/music/{{track.artist.name|urlencode}}</lfm:library_artist>
            </item>
		{% endfor %}
    </channel>
</rss>
