<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
	<channel>
		<title>{{context.user}} - {{ context.title }}</title>
        <lastBuildDate>{{ ''|rfc822_date() }}</lastBuildDate>
        <language>en</language>
		<link>https://www.last.fm/user/{{context.user}}/library/tracks?date_preset?data_preset={{ context.date_preset }}&sort=scrobbles_desc</link>
        <description>
            Last.fm {{context.user}} {{context.title}}.
        </description>
        <generator> https://github.com/xiffy/lfm </generator>

		{% for track in context.tracks.track %}
            <item>
                <title>{{track.artist.name}} - {{track.name}}</title>
                <pubDate>{{""|rfc822_date()}}</pubDate>
                <link>{{ track.url }}</link>
                <guid isPermaLink='false'>{{track.url}}</guid>
                <description><![CDATA[<a href="{{ track.artist.url }}"> {{ track.artist.name }}</a>
                    playcount: {{ track.playcount }}]]></description>
                {% if not "2a96cbd8b46e442fc41c2b86b821562f.png" in track.image[0]["#text"] %}
                    <enclosure url="{{ track.image|image_url() }}" type="image/png"/>
                {% endif %}
            </item>
		{% endfor %}
    </channel>
</rss>
